<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salib yurishlari haqida</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container p-5 my-1 bg-dark text-white">
    <div class="row">
      <div class="col-md-12">
        <h1>Salib yurishlari haqida</h1>

            <div dir="ltr" class="story-description-text">  Salib yurishlari  — 1096-1270-yillarda Gʻarbiy Yevropa zodagonlari va katolik cherkovi tomonidan Yaqin Sharqqa (Suriya, Falastin, Shimoliy Afrika) qilingan bosqinchilik urushlari.<br>
                Salib yurishlarining bosqinchilik mohiyati diniy shiorlar (gʻayridin (musulmonlar)larga qarshi kurash va „xudo qabri“ hamda „muqaddas yer“ (Falastin)ni ozod qilish) bilan niqoblangan.<br>
                Salibchilar, odatda, kiyimlariga salib (xoch) belgisini tikib olishgan (yurishlarning nomi shundan). XI-asrning soʻnggi choragida saljuqiylar tomonidan Vizantiyaning Kichik Osiyodagi yerlarini hamda diniy anʼana boʻyicha „muqaddas shahar“ boʻlgan Quddusni egallab olishlari salibchilarning Oʻrta dengizning sharqidagi yerlarga bostirib kirishiga sabab boʻlgan.<br>

                Vizantiya saljuqiylarga qarshi kurashish uchun Gʻarbdagi davlatlardan bir necha bor harbiy yordam soʻragan. Salib yurishlarining bevosita tashkilotchisi boʻlgan Rim papasi bundan foydalangan. Papalar katolik cherkovining taʼsirini kuchaytirish va kengaytirish, pravoslav cherkovini Rimga boʻysundirish maqsadida diniy fanatizmni avj oldirganlar. Salibchilarning koʻpchiligini qashshoqlashib qolgan ritsarlar, yirik senʼorlar hamda dehqonlar tashkil qilgan.<br>

                Birinchi salib yurushi (1096—99) 1095-yil Klermonda papa Urban II tomonidan eʼlon qilingan. Yigʻilgan odamlarga quyidagicha murojaat qilgan: "U yerga borgan har bir kishi, vafot etgan taqdirda, gunohlari kechiriladi. Ular kofirlarga qarshi moʻl-koʻl neʼmatlar keltiradigan jangga chiqsinlar… U yerning daryolarida sut va asal oqadi. Ha, oldin qaroqchi boʻlganlar, oʻz birodarlari va qabilalariga qarshi kurashganlar jangchilarga aylanadi. Bu yerda oʻkinganlar, u yerda boy boʻladi". 1099-yil iyulda salibchilar saljuqiylardan Quddus (Iyerusalim) shahrini tortib olishgan va Quddus qirolligini tashkil etishgan.<br>

                Ikkinchi salib yurushi (1147—49)ga 1144-yil saljuqiylarning Edessa shahrini bosib olishlari bahona boʻlgan. Bu yurish magʻlubiyatga uchragan.<br>

                Uchinchi salib yurishlari (1189—92)ning boshlanishiga 1187-yil Misr sultoni Salohiddin tomonidan Quddusning egallab olinishi sabab boʻlgan. Bu yurish ham barbod boʻlgan.<br>

            </div>

{#    <div class="col-7">#}
{#        <img src="https://i.pinimg.com/600x/38/ab/e6/38abe63c4824bc3cd2600a222ea91892.jpg"#}
{#             class="img-thumbnail" alt="Cinque Terre">#}

      </div>

</body>
</html>