<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ikkinchi salib yurishi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container p-5 my-1 bg-dark text-white">
    <div class="row">
      <div class="col-md-12">
              <div class="col-12">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/BattleOfInab.jpg/310px-BattleOfInab.jpg"
             class="img-thumbnail" alt="Cinque Terre">
        <h1>Ikkinchi salib yurishlari</h1>

            <div dir="ltr" class="story-description-text">  Ikkinchi salib yurishi (1147—1150) Yevropadan boshlangan ikkinchi yirik salib yurishi edi. Ikkinchi salib yurishi 1144-yilda Edessa Grafligining Imodaddin Zengi qoʻshinlari tomonidan magʻlub etilishiga javob tariqasida boshlangan.<br>
                Graflik Birinchi salib yurishi paytida (1096-1099) 1098-yilda Quddus qiroli Boldvin I tomonidan tashkil etilgan. U birinchi salibchilar davlati sifatida tashkil etilgan edi, ammo birinchi boʻlib magʻlubiyatga uchraydi.<br>
                Ikkinchi salib yurishi Rim papasi Yevgeniy III tomonidan eʼlon qilingan va Yevropa qirollari, yaʼni Fransiya qiroli Lyudovik VII va Germaniya qiroli Konrad III tomonidan boshqarilgan hamda boshqa bir qator Yevropa zodagonlari tomonidan qoʻllab quvvatlangan.
                Ikki qirolning qoʻshinlari Yevropa boʻylab mustaqil ravishda harakat qildi. Vizantiya hududidan Onadoʻliga oʻtib bordi va ikkala qoʻshin ham Saljuqiylar tomonidan alohida-alohida magʻlubiyatga uchratildi.<br>
                Gʻarbiy nasroniylarning asosiy manbasi Deuil Odo va Suriya nasroniylarning manbasi ekanligini daʼvo qilgan Vizantiya imperatori Manuel I Komnenos salibchilar yurishlariga, xususan, Onadoʻlidagi yurishlariga yashirincha toʻsqinlik qilgani aytiladi yaʼni turklarni hujum qilishini ataylab buyurgani iddao qilinadi.<br>
                Biroq, Vizantiyaliklar tomonidan salib yurishining bu gumon qilingan toʻsqinlik, ehtimol, imperiyani toʻsiq sifatida koʻrgan Odo tomonidan uydirilgan boʻlib, bundan tashqari, imperator Manuelning buni qilish uchun hech qanday siyosiy sababi yoʻq edi[2].<br>
                Lyudovik va Konrad qoʻshinlarining qoldiqlari Quddusga yetib kelishdi va 1148-yilda Damashqga notoʻgʻri hujum qiladilar va bu ularning chekinishi bilan yakunlandi. Oxir oqibat, sharqdagi salib yurishi salibchilar uchun omadsizlik, musulmonlarning esa gʻalabasi boʻldi.<br>
                Bu oxir-oqibatda Quddusning qulashiga asosiy taʼsir koʻrsatadi va bu XII asr oxirida Uchinchi salib yurishining boshlanishiga sabab boʻladi.<br>
                Ikkinchi salib yurishida salibchilar Muqaddas Yerda oʻz maqsadlariga erisha olmadi, ammo boshqa joylarda gʻalabalarga erishdilar. Ulardan eng muhimi 1147-yilda 13 000 nafar flamand, friz, norman, ingliz, shotland va nemis salibchilarning birlashgan qoʻshiniga toʻgʻri keldi.<br>
                Angliyadan kemada Muqaddas Zaminga yoʻlga chiqqan qoʻshin shu yerda toʻxtab, ularga yordam berdi. Kichikroq (7000 kishilik) portugal armiyasi Lissabonni egallagan va uning Mavriy aholisini quvib chiqargan.</div>

</body>
</html>