<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uchinchi salib yurishi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container p-5 my-1 bg-dark text-white">
    <div class="row">
      <div class="col-md-12">
              <div class="col-10">
        <img src="https://i.pinimg.com/600x/00/64/17/0064179ee4256e4043dc992442d8aeeb.jpg"
             class="img-thumbnail" alt="Cinque Terre">
        <h1>Uchinchi salib yurishlari</h1>

            <div dir="ltr" class="story-description-text">  Uchinchi salib yurishi (1189-1192) G'arbiy xristianlikning uchta eng qudratli davlati (Angevin Angliya ,
                Frantsiya va Muqaddas Rim imperiyasi ) rahbarlarining Quddusni Ayyubiy sultoni
                Saladin tomonidan bosib olinishi ortidan Muqaddas zaminni qayta egallashga urinishi edi. 1187.
                U qisman muvaffaqiyatli bo'ldi, muhim shaharlar Akko va Yaffani qo'lga kiritdi va Saladinning ko'p bosqinlarini qaytarib oldi,
                lekin Salib yurishining asosiy maqsadi va uning diniy yo'nalishi bo'lgan Quddusni qaytarib ololmadi.
                Quddus qiroli Bolduin IV 1185 yilda vafot etdi va Quddus qirolligini jiyani Bolduin V ga qoldirdi, u 1183 yilda u hamkor qirollik taxtiga o'tirdi.
                Keyingi yili Bolduin V to'qqizinchi tug'ilgan kunidan oldin vafot etdi va uning onasi malika Sibilla singlisi. Bolduin IV, o'ziga qirolicha va
                uning turmush o'rtog'i Lusignanlik Guy qirollik tojini kiydi.
            </div>

</body>
</html>