<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container p-5 my-1 bg-dark text-white">
    <div class="row">
      <div class="col-md-12">
          <div class="col-12">
        <img src="https://i.pinimg.com/600x/38/ab/e6/38abe63c4824bc3cd2600a222ea91892.jpg"
             class="img-thumbnail" alt="Cinque Terre">
        <h1>Birinchi salib yurishlari</h1>

        <div dir="ltr" class="story-description-text">  Birinchi salib yurishi (1096-1099) O'rta asrlarda Lotin cherkovi tomonidan boshlangan,
            qo'llab-quvvatlangan va ba'zan boshqargan diniy urushlarning birinchisi edi.
            Dastlabki maqsad Muqaddas zaminni islom hukmronligidan qaytarish edi.
            Keyinchalik bu yurishlar salib yurishlari nomini oldi.
            Birinchi salib yurishining eng dastlabki tashabbusi 1095 yilda Vizantiya imperatori
            <a href="https://history-maps.com/uz/story/Byzantine-Empire-Komnenian-Dynasty" rel="noopener noreferrer" target="_blank">Aleksios I Komnenos</a>
            Vizantiya imperiyasining <a href="https://history-maps.com/uz/story/Seljuk-Turks" rel="noopener noreferrer" target="_blank">Saljuqiylar boshchiligidagi turklar</a> bilan to'qnashuvida Piatsenza kengashidan harbiy yordam so'raganida boshlangan.
            Bu yil oxirida Klermont Kengashi tomonidan ta'qib qilindi, uning davomida Papa Urban II Vizantiyaning harbiy yordam so'rashini qo'llab-quvvatladi va shuningdek,
            sodiq nasroniylarni Quddusga qurolli ziyorat qilishga chaqirdi.<br>
            Birinchi salib yurishining sabablari tarixchilar orasida keng muhokama qilinadi.11-asrning boshlariga kelib, Evropada papalikning ta'siri mahalliy episkopning ta'siriga tushib qoldi.
            G'arbiy Yevropa bilan solishtirganda, Vizantiya imperiyasi va islom dunyosi boylik, madaniyat va harbiy qudratning tarixiy markazlari edi.
            Turkiylarning Yaqin Sharqqa koʻchishining birinchi toʻlqinlari arab va turkiy tarixga 9-asrdan boshlab kirgan.G'arbiy Osiyodagi status-kvo turklar migratsiyasining keyingi to'lqinlari, xususan,
            10-asrda Saljuqiy turklarining kelishi bilan shubha ostiga olindi.

        </div>

</body>
</html>